In [2]:
### Initial Edit of Bigfoot Data

In [3]:
import pandas as pd
import sqlite3

# Files for Bigfoot Data
input_file = r"C:\Users\sarah\OneDrive\Desktop\BigFootAlcoholProject\BigfootData.csv"
edited_file = r"C:\Users\sarah\OneDrive\Desktop\BigFootAlcoholProject\EditedBigFootData.csv"
db_file = r"C:\Users\sarah\OneDrive\Desktop\BigFootAlcoholProject\BigfootDatabase.db"

# Load CSV into DataFrame
df = pd.read_csv(input_file)

# Convert 'Year' column to numeric 
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')

# Remove specified columns to only leave state, county year and report
columns_to_remove = [
    'Report Type', 'Id', 'Class', 'Submitted Date', 'Headline', 'Season', 'Month',
    'Location Details', 'Nearest Town', 'Nearest Road', 'Also Noticed',
    'Other Witnesses', 'Other Stories', 'Time And Conditions', 'Environment',
    'Follow-Up', 'Follow-Up Report', 'Date', 'Author', 'Media Source', 'Source Url',
    'Media Issue', 'Observed.1', 'A & G References'
]

df = df.drop(columns=columns_to_remove, errors='ignore')

# Filter for only rows where Year is between 2002 and 2012
df = df[(df['Year'] >= 2002) & (df['Year'] <= 2012)]

# Drop any rows where 'Year' is still NaN after conversion
df = df.dropna(subset=['Year'])

# View column names and first 5 rows
print("Column Names:", df.columns.tolist())
print("\nFirst 5 Rows:\n", df.head())

# Save the edited dataset
df.to_csv(edited_file, index=False)
print(f"\nEdited dataset saved to: {edited_file}")


print(f"\nFiltered database updated: {db_file}")

Column Names: ['Year', 'State', 'County', 'Observed']

First 5 Rows:
       Year   State           County  \
0   2004.0  Alaska        Anchorage
1   2003.0  Alaska        Anchorage
4   2004.0  Alaska      Bristol Bay
6   2009.0  Alaska        Fairbanks
14  2004.0  Alaska  Prince of Wales

                                             Observed
0   I and two of my friends were bored one night s...
1   Me and a couple of friends had been bored, whe...
4   To whom it may concern, I am a commercial fish...
6   It was the month of July, 2009 in Fairbanks Al...
14  This incident happened last night just after 1...

Edited dataset saved to: C:\Users\sarah\OneDrive\Desktop\BigFootAlcoholProject\EditedBigFootData.csv

Filtered database updated: C:\Users\sarah\OneDrive\Desktop\BigFootAlcoholProject\BigfootDatabase.db

In [ ]:
### Initial Edit Alcohol Data

In [4]:
 import pandas as pd
import sqlite3

# Files for Alcohol Consumption
input_File = r"C:\Users\sarah\OneDrive\Desktop\BigFootAlcoholProject\AlcoholData.csv"
db_path = r"C:\Users\sarah\OneDrive\Desktop\BigFootAlcoholProject\UpdatedAlcohol.db"
csv_output = r"C:\Users\sarah\OneDrive\Desktop\BigFootAlcoholProject\UpdatedAlcohol.csv"

# Load Excel file
df = pd.read_csv(input_File)

# Display first 5 rows of the original data
print("Original Data Preview:")
print(df.head())

# Define columns to drop
columns_to_drop = [
    '2002 Females', '2002 Males', '2003 Females', '2003 Males', '2004 Females', '2004 Males',
    '2005 Females', '2005 Males', '2006 Females', '2006 Males', '2007 Females', '2007 Males',
    '2008 Females', '2008 Males', '2009 Females', '2009 Males', '2010 Females', '2010 Males',
    '2011 Females', '2011 Males', '2012 Females', '2012 Males', 
    'Percent Change 2002-2012, Females', 'Percent Change 2002-2012, Males',
    'Percent Change 2005-2012, Females', 'Percent Change 2005-2012, Males'
]

# Drop specified columns
df_cleaned = df.drop(columns=columns_to_drop, errors='ignore')

# Display first 5 rows of cleaned data
print("\nCleaned Data Preview:")
print(df_cleaned.head())

# Rename 'Location' to 'County'
df.rename(columns={'Location': 'County'}, inplace=True)

# Identify the columns to melt (all the year columns)
year_columns = [col for col in df.columns if 'Both Sexes' in col and 'Percent Change' not in col]

# Melt the DataFrame
df_long = df.melt(id_vars=['State', 'County'], 
                  value_vars=year_columns, 
                  var_name='Year', 
                  value_name='Consumption')

# Extract the numeric year from the 'Year' column
df_long['Year'] = df_long['Year'].str.extract(r'(\d{4})').astype(int)

# Sort by Year
df_long = df_long.sort_values(by=['Year', 'State', 'County'])

# Connect to SQLite database
conn = sqlite3.connect(db_path)

# Write cleaned DataFrame to SQL table
table_name = "cleaned_alcohol_use"
df_cleaned.to_sql(table_name, conn, if_exists="replace", index=False)

# Retrieve column names to confirm changes
cursor = conn.cursor()
cursor.execute(f"PRAGMA table_info({table_name})")
columns = [col[1] for col in cursor.fetchall()]
print("\nRemaining column names:", columns)

# Save the cleaned data to a CSV file
df_cleaned.to_csv(csv_output, index=False)
print(f"\nCleaned dataset saved to: {csv_output}")

# Close connection
conn.close()

Original Data Preview:
      State        Location  2002 Both Sexes  2002 Females  2002 Males  \
0  National   United States             55.4          47.5        63.7
1   Alabama         Alabama             40.7          32.1        49.6
2   Alabama  Autauga County             39.4          29.4        49.7
3   Alabama  Baldwin County             54.0          45.7        62.5
4   Alabama  Barbour County             36.0          27.3        45.0

   2003 Both Sexes  2003 Females  2003 Males  2004 Both Sexes  2004 Females  \
0             56.6          48.9        64.6             55.2          47.6
1             42.3          33.8        51.2             41.0          32.9
2             40.6          31.0        50.6             39.2          30.1
3             54.9          47.0        63.2             53.1          45.2
4             37.9          29.2        46.9             35.8          27.4

   ...  2011 Males  2012 Both Sexes  2012 Females  2012 Males  \
0  ...        63.9             56.0          49.1        63.0
1  ...        52.5             43.6          36.5        51.0
2  ...        52.0             42.5          34.4        50.9
3  ...        64.3             55.7          48.8        62.8
4  ...        48.2             37.6          29.2        46.3

   Percent Change 2002-2012, Both Sexes  Percent Change 2002-2012, Females  \
0                                   0.9                                3.5
1                                   7.2                               13.5
2                                   7.9                               17.1
3                                   3.2                                6.8
4                                   4.6                                7.2

   Percent Change 2002-2012, Males  Percent Change 2005-2012, Both Sexes  \
0                             -1.0                                   0.0
1                              2.9                                   3.1
2                              2.3                                   4.5
3                              0.4                                   2.2
4                              3.0                                   0.7

   Percent Change 2005-2012, Females  Percent Change 2005-2012, Males
0                                0.9                             -0.8
1                                7.8                             -0.1
2                                8.9                              1.6
3                                5.0                              0.1
4                                1.9                             -0.1

[5 rows x 41 columns]

Cleaned Data Preview:
      State        Location  2002 Both Sexes  2003 Both Sexes  \
0  National   United States             55.4             56.6
1   Alabama         Alabama             40.7             42.3
2   Alabama  Autauga County             39.4             40.6
3   Alabama  Baldwin County             54.0             54.9
4   Alabama  Barbour County             36.0             37.9

   2004 Both Sexes  2005 Both Sexes  2006 Both Sexes  2007 Both Sexes  \
0             55.2             56.0             55.4             56.0
1             41.0             42.3             40.7             41.6
2             39.2             40.7             38.8             40.6
3             53.1             54.4             53.1             54.2
4             35.8             37.4             34.4             35.5

   2008 Both Sexes  2009 Both Sexes  2010 Both Sexes  2011 Both Sexes  \
0             56.1             56.0             56.1             57.1
1             42.6             41.3             42.5             44.8
2             41.2             40.8             42.5             43.6
3             55.1             53.6             54.6             57.0
4             37.0             35.2             38.6             39.4

   2012 Both Sexes  Percent Change 2002-2012, Both Sexes  \
0             56.0                                   0.9
1             43.6                                   7.2
2             42.5                                   7.9
3             55.7                                   3.2
4             37.6                                   4.6

   Percent Change 2005-2012, Both Sexes
0                                   0.0
1                                   3.1
2                                   4.5
3                                   2.2
4                                   0.7

Remaining column names: ['State', 'Location', '2002 Both Sexes', '2003 Both Sexes', '2004 Both Sexes', '2005 Both Sexes', '2006 Both Sexes', '2007 Both Sexes', '2008 Both Sexes', '2009 Both Sexes', '2010 Both Sexes', '2011 Both Sexes', '2012 Both Sexes', 'Percent Change 2002-2012, Both Sexes', 'Percent Change 2005-2012, Both Sexes']

Cleaned dataset saved to: C:\Users\sarah\OneDrive\Desktop\BigFootAlcoholProject\UpdatedAlcohol.csv

In [20]:
import pandas as pd

# Load the datasets
dataset1 = pd.read_csv(r'C:\Users\sarah\OneDrive\Desktop\BigFootAlcoholProject\UpdatedAlcohol.csv')
dataset2 = pd.read_csv(r'C:\Users\sarah\OneDrive\Desktop\BigFootAlcoholProject\EditedBigFootData.csv')



# Melting the first dataset (AlcoholData.csv)
dataset1_melted = pd.melt(dataset1, 
                          id_vars=['State', 'Location'],  # Ensure these columns exist in dataset1
                          value_vars=[col for col in dataset1.columns if 'Both Sexes' in col],  # Include all the 'Both Sexes' year columns
                          var_name='Year', 
                          value_name='Observed')

# Clean up 'Year' column to match format (remove 'Both Sexes' part)
dataset1_melted['Year'] = dataset1_melted['Year'].str.replace(' Both Sexes', '')


# Rename 'Location' to 'County'
dataset1_melted.rename(columns={'Location': 'County'}, inplace=True)

# Output the transformed dataset1 (AlcoholData.csv) to a new file
dataset1_melted.to_csv(r'C:\Users\sarah\OneDrive\Desktop\BigFootAlcoholProject\AlcoholData_melted.csv', index=False)

# Dataset2 is already in a long format, so no need to melt it.
# Output the dataset2 (BigfootData.csv) to a new file
dataset2.to_csv(r'C:\Users\sarah\OneDrive\Desktop\BigFootAlcoholProject\BigfootData_melted.csv', index=False)

# Preview the first few rows of both melted datasets
print("Transformed AlcoholData:")
print(dataset1_melted.head())

print("\nBigfootData (Already in correct format):")
print(dataset2.head())

Transformed AlcoholData:
      State          County  Year  Observed
0  National   United States  2002      55.4
1   Alabama         Alabama  2002      40.7
2   Alabama  Autauga County  2002      39.4
3   Alabama  Baldwin County  2002      54.0
4   Alabama  Barbour County  2002      36.0

BigfootData (Already in correct format):
     Year   State           County  \
0  2004.0  Alaska        Anchorage
1  2003.0  Alaska        Anchorage
2  2004.0  Alaska      Bristol Bay
3  2009.0  Alaska        Fairbanks
4  2004.0  Alaska  Prince of Wales

                                            Observed
0  I and two of my friends were bored one night s...
1  Me and a couple of friends had been bored, whe...
2  To whom it may concern, I am a commercial fish...
3  It was the month of July, 2009 in Fairbanks Al...
4  This incident happened last night just after 1...